.sign-in-container,
.signInComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  border: 2px solid black;
  width: 450px;
  height: 450px;
}
.signInComponent {
  gap: 1rem;
}
.signInComponent > h2.valid {
  color: red;
  opacity: 0;
  transition: opacity 450ms ease-out;
}
h2.invalid {
  color: red;
  opacity: 1;
  transition: opacity 450ms ease-in;
  /* animation-name: opacity;
  animation-duration: 2500ms;
  animation-fill-mode: forwards; */
}
/* @keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
.sign-in-container > img {
  height: 90px;
  margin-bottom: 2em;
}
.username,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75em;
  gap: 0.5rem;
}
.userAccessButtons {
  margin-bottom: 3em;
}
.signInBtn-enabled {
  background-color: blue;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.signInBtn-disabled {
  background-color: blue;
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 300ms ease-in;
}
/* .sign-in {
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
  height: 450px;
  margin-top: 50px;
  max-width: 40%;
  width: 100%;
  background-image: linear-gradient(rgb(251, 133, 0), rgb(241, 174, 97));
}

.sign-div {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-top: 1.5rem;
}

.sign-btn {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: #182747;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
} */
