.sign-in-container,
.signInComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  border: none;
  width: 450px;
  height: 450px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #000;
  background-color: #fd841f;
}

.signInLogo {
  height: 15rem;
  margin-bottom: 3rem;
}

.signUpBtn {
  background-color: #182747;
  cursor: pointer;
  color: #fff;
}

.signUpBtn:hover {
  color: #fd841f;
}

.labelName {
  font-size: 1.5rem;
  font-weight: 500;
}

.signInComponent {
  gap: 1rem;
}
.signInComponent > h2.valid {
  color: red;
  opacity: 0;
  transition: opacity 450ms ease-out;
}
h2.invalid {
  color: red;
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.sign-in-inputs {
  width: 50ch;
}
.sign-in-inputs ~ span {
  text-shadow: 3px 3px 8px rgb(255, 255, 255);
}

.sign-in-container > img {
  height: 90px;
  margin-bottom: 2em;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75em;
  gap: 0.5rem;
}

.userAccessButtons {
  margin-bottom: 3em;
}
.signInBtn-enabled {
  background-color: #182747;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.signInBtn-disabled {
  background-color: #182747;
  color: #fff;
  pointer-events: none;
  opacity: 0.3;
  transition: opacity 300ms ease-in;
}
.signInBtn-enabled:hover {
  color: #fd841f;
}
