input {
  width: 30ch;
  border: none;
  border-bottom: 1.5px solid black;
  height: 1.5rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  background-color: transparent;
}
span {
  color: red;
  font-size: 1rem;
  padding: 0.2rem;
  display: none;
  width: 55ch;
}

input[name="firstName"],
input[name="middleName"],
input[name="lastName"] {
  text-transform: capitalize;
}
input[name="firstName"]::placeholder,
input[name="middleName"]::placeholder,
input[name="lastName"]::placeholder {
  text-transform: lowercase;
}

input:invalid[focused="true"] + span {
  display: block;
}
