* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dashboardPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardPage > main {
  width: 60%;
  height: 100%;
}
