.dashboardHome {
  width: 60%;
  height: 100%;
  border: 2px solid black;
}
.dashboardHome {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "lineGraph lineGraph"
    "deposit withdraw";
  gap: 1rem;
}
.dashboardHome h1,
.dashboardHome h3 {
  text-align: center;
  margin-top: 1rem;
}
.dashboardHome h3 {
  margin-top: 0.5rem;
}
.lineGraph,
.depositHistoryList,
.withdrawHistoryList {
  border: 3px solid black;
  border-radius: 50px;
}
.depositHistoryList,
.withdrawHistoryList {
  height: calc(40vh - 1rem);
}
.lineGraph {
  grid-area: lineGraph;
  height: 60vh;
}
.depositHistoryList {
  grid-area: deposit;
}
.withdrawHistoryList {
  grid-area: withdraw;
}
