* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.deposit-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}
.deposit-description {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 4px;
}
.deposit-transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 50%;
  background-color: #182747;
  color: #fd841f;
  border-radius: 20px;
}
.deposit-transactions > label {
  font-size: 1.5rem;
}
.deposit-history {
  padding-top: 2rem;
  height: 60vh;
  border-radius: 20px;
  background-color: #182747;
}
.deposit-btn {
  color: #182747;
  background-color: #fd841f;
  border: 2px solid black;
  margin-bottom: 1rem;
}
.deposit-btn:hover {
  color: white;
  font-weight: 700;
}
.deposit-input {
  color: white;
  border-color: white;
  width: 55ch;
}
