* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.transfer-transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50%;
  background-color: #182747;
  color: #fff;
}

.sendMoney {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 4px;
}

.transfer-label {
  font-size: 2rem;
  text-transform: uppercase;
}