.transfer-history {
  height: 50%;
  border: 2px solid black;
  background-color: #182747;
  color: #fff;
}
.transfer-history > h1 {
  text-align: center;
}

.history-transfer {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  padding-top: 2rem;
}
