.sideBar {
  width: 15%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  background-color: #fd841f;
}

.sideBar > img {
  height: 30rem;
}

.sideBarList {
  list-style: none;
  line-height: 2em;
  margin-left: 1em;
}

.sideBarList > li {
  cursor: pointer;
}

.settings {
  font-size: 2em;
  margin: 0 0 0.5em 0.5em;
  color: #182747;
  cursor: pointer;
}

.lists {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
#profile {
  pointer-events: none;
}

.lists:hover {
  color: #182747;
}
.active {
  color: #182747;
  font-weight: 1000;
  text-decoration: double underline;
}
