.footer-div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fd841f;
  color: white;
  text-align: center;
  height: 14.5vh;
  display: flex;
  flex-direction: row;
  gap: 20rem;
  align-items: center;
  justify-content: center;
}

.follow-div {
  gap: 2rem;

  margin-left: 6rem;
}

.follow-us {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-logo {
  height: 4rem;
  width: 4rem;
}


.about-list {
  list-style: none;
  font-size: 1.5rem;
}

.paymentLogo {
  height: 5rem;
  gap: 2rem;
}

.payment {
  display: flex;
  gap: 2rem;
}
