.depositHistory {
  height: auto;
  background-color: #182747;
}
.deposit-history > h1 {
  text-align: center;
}
.depositHistory {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fd841f;
}
